<ion-content>
  <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="login-logo">
            <img src="assets/images/logo.png" alt="Izindaba25 logo">
          </div>

          <div class="ion-padding">
            <form [formGroup]="loginForm">
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" formControlName="username"></ion-input>
              </ion-item>
              <div class="ion-padding-top" *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.dirty">
                <ion-text color="danger">Username is required.</ion-text>
              </div>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="ion-padding-top" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
                <ion-text color="danger">Password is required.</ion-text>
              </div>

              <ion-row class="ion-padding-top">
                <ion-col>
                  <ion-button [disabled]="!loginForm.valid" expand="block" color="primary" (click)="login()">Login</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button disabled color="light" expand="block">Forgot Password?</ion-button>
                </ion-col>
                <ion-col size="12">
                  <ion-button expand="block" fill="outline" (click)="guestLogin()">Continue as Guest</ion-button>
                </ion-col>
              </ion-row>
            </form>
          </div>

        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
